.container{
    text-align: center;
    margin-top: 20px;
    padding: 50px;
}
.search{
    text-align: right;
}
.updatebtn{
    margin-left: 20%;
}
.container h1{
     color: #ff4411;
      font-size: 48px;
       font-family: 'Signika', sans-serif;
        padding-bottom: 10px; 
        text-shadow: 2px 2px 2px #CCCCCC;
}

.container h2{
    color: #2c1dfa;
      font-size:24px;
       font-family: 'Signika', sans-serif;
        padding-bottom: 10px; 
        text-shadow: 2px 2px 2px #CCCCCC;
}
